:root {
  /* cores primarias */
  --vermelhoSenai: #e30613;
  --cinzaClaro: #f2f2f2;
  --branco: #ffffff;
  --Preto: #000000;

  /* cores secundarias */
  --azulEscuro: #002d5b;
  --cinzaMedio: #cccccc;
  --amareloOuro: #ffc72c;
  /* prejuizo */
  /* ...suas cores primárias e secundárias... */
  /* Cores de Status e Alertas */
  --vermelho-alerta: #ff4d4d; /* Para erros críticos ou itens em falta */
  --laranja-aviso: #ff9f43; /* Para avisos, como estoque baixo */
  --verde-sucesso: #2ecc71; /* Para ações bem-sucedidas ou valores positivos */
}

/*
  EXEMPLO DE USO

  Importando root de colors.css no seu arquivo css
@import url('../../../assets/colors/colors.css');

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
*/
